// spacing
// /////////////////////////////////////////////////////////////////////////////
$spacing-xs: 8px;
$spacing-sm: 16px;
$spacing-md: 24px;
$spacing-lg: 32px;
$spacing-xl: 40px;
$spacing-xxl: 48px;

// layout
// /////////////////////////////////////////////////////////////////////////////
$footer-height: 56px;
$footer-height-condensed: 48px;
