// Banner Alert
// /////////////////////////////////////////////////////////////////////////////
.banner-alert-icon {
  margin-right: $spacing-sm;
  margin-top: 3px;
}

// Banner Tip
// /////////////////////////////////////////////////////////////////////////////
.banner-tip {
  background-color: var(--background-warning);
  border-radius: 6px;
  color: var(--foreground-on-warning);
  font-size: 11px;
  line-height: 15px;
  padding: $spacing-xs $spacing-sm $spacing-xs $spacing-xs;
}

.tip-label {
  font-size: 12px;
  font-weight: bold;
  margin-right: $spacing-xs;
  text-transform: uppercase;
}

.tip-link {
  border-radius: 2px;
  color: var(--foreground-on-warning);
  display: inline-block;
  font-size: 12px;
  margin-left: 26px;
  margin-top: 8px;
  text-decoration: underline;
}

// Checkbox
// /////////////////////////////////////////////////////////////////////////////
.container-checkbox {
  align-items: center;
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  flex-shrink: 0;
  width: 100%;

  label {
    cursor: pointer;
    font-size: 13px;
  }

  &.no-events {
    cursor: default;
    pointer-events: none;

    label {
      cursor: default;
      pointer-events: none;
    }
  }
}

.checkbox {
  align-items: center;
  border: 1px solid var(--figma-color-icon);
  border-radius: 3px;
  display: flex;
  height: 18px;
  justify-content: center;
  padding-right: 1px;
  width: 18px;

  &.checked {
    background-color: var(--figma-color-text);
    border-color: var(--figma-color-text);

    svg {
      path {
        fill: var(--figma-color-bg);
      }
    }
  }
}

// Dropdown
// /////////////////////////////////////////////////////////////////////////////
.container-dropdown {
  display: inline-block;
  overflow: hidden;
  position: relative;

  .dropdown {
    align-items: center;
    border-radius: 2px;
    cursor: pointer;
    display: inline-flex;
    padding: 2px 6px;
    position: relative;
    text-transform: capitalize;
  }

  .dropdown-options {
    background-color: var(--figma-color-bg-inverse);
    border: 1px solid var(--figma-color-border-strong);
    border-radius: 2px;
    box-shadow: 0 2px 6px rgb(0 0 0 / 15%);
    color: var(--figma-color-text-oninverse);
    filter: drop-shadow(0 4px 4px var(--figma-color-bg-inverse));
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    text-transform: capitalize;
    top: calc(100% + 0.4rem);

    // transition: all 300ms ease;
    width: 148px;
    z-index: 99;

    .figma-dark & {
      background-color: var(--figma-color-bg-hover);
      border-color: var(--figma-color-border);
      color: var(--figma-color-text);
      filter: drop-shadow(0 4px 4px var(--figma-color-bg));
    }

    &.align-right {
      right: 0;
    }
  }

  .dropdown-overlay-close {
    inset: 0;
    pointer-events: none;
    position: fixed;
    transform: translate(100%, 0);
    z-index: 9;
  }

  &.opened {
    overflow: visible;

    .dropdown-options {
      opacity: 1;
      padding: $spacing-xs 0;
    }

    .dropdown {
      z-index: 99;
    }

    .dropdown-overlay-close {
      pointer-events: auto;
      transform: none;
    }
  }

  .dropdown-option {
    cursor: pointer;
    line-height: 24px;
    list-style: none;
    padding-left: $spacing-lg;
    width: 100%;

    &:hover {
      background-color: var(--background-accent);
    }
  }

  .dropdown-option-selected {
    left: 5px;
    position: absolute;
    top: 5px;
  }
}

// Heading Step
// /////////////////////////////////////////////////////////////////////////////
.heading-step {
  display: flex;
  margin-bottom: $spacing-sm;

  p {
    display: flex;
    flex: 1;
    font-size: 12px;
  }
}

.circle-step {
  align-items: center;
  background-color: var(--figma-color-bg-inverse);
  border-radius: 4px;
  color: var(--figma-color-text-oninverse);
  display: flex;
  font-size: 10px;
  font-weight: bold;
  height: 18px;
  justify-content: center;
  margin-right: $spacing-xs;
  padding: 0 6px;
  text-transform: uppercase;
}

// Loading Spinner
// /////////////////////////////////////////////////////////////////////////////
.loading-spinner {
  align-items: center;
  animation: spin 600ms linear infinite;
  display: flex;
  height: 30px;
  justify-content: center;
  width: 30px;
}

// Modal
// /////////////////////////////////////////////////////////////////////////////
.container-modal {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 100;
}

.modal {
  background-color: var(--figma-color-bg);
  border: 1px solid var(--figma-color-border);
  border-radius: 6px;
  color: var(--figma-color-text);
  outline: 0;
  padding: $spacing-sm;
  position: absolute;
  width: 344px;
  z-index: 300;

  h2 {
    font-size: 13px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 280px;
  }

  .container-close {
    border-radius: 4px;
    cursor: pointer;
    padding: $spacing-xs;
    position: absolute;
    right: -4px;
  }

  p {
    font-size: 11px;
    line-height: 14px;
  }
}

.modal-overlay {
  background-color: var(--figma-color-text-tertiary);
  height: 100vh;
  left: 0;
  opacity: 0.2;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 200;
}

// Left Navigation Menu
// /////////////////////////////////////////////////////////////////////////////
nav {
  border-right: 1px solid var(--figma-color-border);
  overflow: hidden;
  position: relative;
  transition: width 500ms ease-in-out;
  width: 224px;

  .collapsed & {
    // overflow: hidden;
    width: 48px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 40px 0 0;

    .collapsed & {
      padding-top: 8px;
    }
  }

  a {
    align-items: center;
    display: flex;
    height: 40px;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 400ms ease, padding 600ms ease-in-out;

    &.active {
      background-color: #c5e5fb;

      .figma-dark & {
        background-color: #4f5c64;
      }
    }
  }
}

.container-flow-type {
  align-items: center;
  display: flex;
  height: 32px;
  padding: 12px 16px 0;
  position: absolute;
  width: 100%;

  .collapsed & {
    opacity: 0;
    position: relative;
  }
}

.flow-text {
  font-size: 11px;
  font-weight: 600;
  margin-left: 15px;
  text-transform: capitalize;
}

.step-marker {
  align-items: center;
  border: 1px solid var(--figma-color-text);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  margin-right: 16px;
  min-height: 16px;
  min-width: 16px;

  svg {
    display: none;
  }

  .active & .step-inner {
    background-color: var(--figma-color-text);
    border-radius: 2px;
    height: 4px;
    width: 4px;
  }

  .completed & {
    background-color: var(--figma-color-text);

    .step-inner {
      display: none;
    }

    svg {
      display: block;
    }
  }
}

.toggle-nav {
  align-items: center;
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 6px;
  position: absolute;
  right: 6px;
  top: 9px;
  transition: right 500ms ease-in-out;
  width: 26px;

  .collapsed & {
    right: 9px;
  }

  .view-condensed & {
    top: 4px;
  }
}

.step-label {
  white-space: nowrap;

  .collapsed & {
    white-space: nowrap;
  }
}

.container-progress {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  padding: 0 $spacing-sm $spacing-sm * 1.25 $spacing-sm;
  white-space: nowrap;
  width: 100%;

  .collapsed & {
    justify-content: center;
  }
}

.progress-encourage {
  .collapsed & {
    display: none;
  }
}

.left-nav-version {
  display: flex;
  padding: 0 $spacing-xs $spacing-xs $spacing-xs;
}

// Progress Pie Chart
// /////////////////////////////////////////////////////////////////////////////
.progress-chart {
  border: 1px solid var(--figma-color-text);
  border-radius: 50%;
  margin-right: $spacing-xs;
  min-height: 16px;
  position: relative;
  width: 16px;

  .collapsed & {
    display: none;
  }
}

.progress {
  font-size: 12px;
  line-height: 16px;
}

.progress-check {
  left: 1px;
  position: absolute;
  top: 1px;

  .collapsed & {
    display: none;
  }
}
