// app layout
// /////////////////////////////////////////////////////////////////////////////
.app-top {
  display: flex;
  flex-direction: row;
  height: calc(100vh);
  transition: width 500ms ease-in-out;
  width: 100vw;
}

// main panel (layout)
// /////////////////////////////////////////////////////////////////////////////
main {
  height: calc(100% - $footer-height);
  overflow: hidden scroll;
  padding: $spacing-sm $spacing-sm 0 $spacing-sm;
  transition: width 500ms ease-in-out;
  width: 475px;

  .collapsed & {
    width: 652px;
  }

  .view-condensed & {
    width: 468px;
  }

  .cb-viewer & {
    width: 100%;
  }
}

// footer
// /////////////////////////////////////////////////////////////////////////////
footer {
  align-items: center;
  border-top: 1px solid var(--figma-color-border);
  display: flex;
  height: $footer-height;
  justify-content: flex-end;
  padding: 0 $spacing-sm;

  &.has-dashboard {
    justify-content: space-between;
  }
}
