// spacing
// /////////////////////////////////////////////////////////////////////////////
$spacing-xxs: 4px;
$spacing-xs: 8px;
$spacing-sm: 16px;
$spacing-md: 24px;
$spacing-lg: 32px;
$spacing-xl: 40px;
$spacing-xxl: 48px;

// layout
// /////////////////////////////////////////////////////////////////////////////
$footer-height: 56px;
$footer-height-condensed: 48px;

:root {
  // layout
  // ///////////////////////////////////////////////////////////////////////////
  --spacer-xxs: #{$spacing-xxs};
  --spacing-xs: #{$spacing-xs};
  --spacing-sm: #{$spacing-sm};
  --spacing-md: #{$spacing-md};
  --spacing-lg: #{$spacing-lg};
  --spacing-xl: #{$spacing-xl};
  --spacing-xxl: #{$spacing-xxl};
}