.banner-tip {
  background-color: var(--background-warning);
  border-radius: 6px;
  color: var(--foreground-on-warning);
  font-size: 11px;
  line-height: 15px;
  padding: var(--spacing-xs) var(--spacing-md) var(--spacing-xs) var(--spacing-xs);
  position: relative;
}

.tip-label {
  font-size: 12px;
  font-weight: bold;
  margin-right: var(--spacing-xs);
  text-transform: uppercase;
}

.tip-text-collapsed {
  max-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tip-toggle {
  cursor: pointer;
  position: absolute!important;
  right: 8px;
  top: 8px;
  
  & .rotate-left-rev {
    transform: rotate(-180deg)
  }

  & .rotate-right-rev {
    transform: rotate(0deg)
  }
}

.tip-link {
  border-radius: 2px;
  color: var(--foreground-on-warning);
  display: inline-block;
  font-size: 12px;
  margin-left: 26px;
  margin-top: 8px;
  text-decoration: underline;
}