.heading-step-container {
  margin-bottom: var(--spacing-sm);

  .figma-dev-mode & {
    margin-bottom: var(--spacing-xxs);
  }

  ul {
    margin-left: 70px;
    margin-top: 4px;
  }

  li {
    list-style: disc;
  }
}

.heading-step {
  display: flex;

  p {
    display: flex;
    flex: 1;
    font-size: 12px;
  }
}

.circle-step {
  align-items: center;
  background-color: var(--figma-color-bg-inverse);
  border-radius: 4px;
  color: var(--figma-color-text-oninverse);
  display: flex;
  font-size: 10px;
  font-weight: bold;
  height: 18px;
  justify-content: center;
  margin-right: var(--spacing-xs);
  padding: 0 6px;
  text-transform: uppercase;
}
